div.autoInstallSection {
    display: flex;
    flex-direction: column;
    gap: 4em;
    margin-top: 11em;
    width: 100%;
}

span.bold {
    font-weight: 600;
}

div.autoInstallSection div.heading {
    display: flex;
    flex-direction: column;
}

div.autoInstallSection div.heading div.title {
    font-size: 1.5em;
    font-weight: 800;
    line-height: 2;
}

div.autoInstallSection div.heading div.text {
    font-size: 0.8em;
    font-weight: 400;
    line-height: 2;
}

div.autoInstallSection div.cards {
    display: flex;
    justify-content: space-between;
}
